.text-aqua {
    color: #30bfbf;
  }

.pink-active {
    color: #015c5c;
    font-weight: bold;
}

.blog-thumbnail {
  max-width: 150px;
  height: auto;
  padding-top: 10px;
}

.card-body {
  width: 300px;
  height: 200px;
  margin-bottom: 15px;
  text-align: center;
}
