body {
  background-color: #dde2e2;
}

.recipe {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-aqua {
    color: #30bfbf;
  }

.pink-active {
    color: #015c5c;
    font-weight: bold;
}

.blog-thumbnail {
  max-width: 150px;
  height: auto;
  margin-top: 20px;
  border-radius: 5px;
}
.border-padding {
  padding: 10px;
}

.card-body {
  width: 100%;
  height: auto;
  margin-bottom: 0; 
  text-align: center;
  overflow-y: auto;
}

.card-excerpt {
  max-height: 150px; 
  overflow-y: auto; 
  margin-bottom: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  flex: 0 0 calc(25% - 10px);
  margin-bottom: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
  gap: 15px; 
}

.card {
  width: 350px;
  height: 350px;
  margin-bottom: 10px; 
  overflow: hidden;
  background-color: azure;
}

.card-title {
  font-size: 1.5rem; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.post-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  border-radius: 15px;
}

.search-bar {
  position: absolute;
  top: 10px;
  right: 100px;
}

/* You can add additional styling for the input element if needed */
.search-bar input {
  width: 200px; /* Adjust the width as desired */
}


@media screen and (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }

  .card {
    width: 100%;
    height: auto; 
    margin: 10px 0; 
  }
}


